@charset "UTF-8";
/* CSS Document */

/*************************************** COLOR PALETTES ***************************************/

/* SASS-based color palettes. */

/* !SASS VARIABLES
/* --- !greys
/* --- !tints
/* --- !color

/******************************* !SASS VARIABLES *******************************/

/*******************/
/***** !greys ******/
/*******************/

/* solid color */
$l1: rgb(250, 250, 250);
$l2: rgb(244, 244, 244);
$l3: rgb(240, 240, 240);
$l4: rgb(235, 235, 235);
$l5: rgb(230, 230, 230);
$l6: rgb(220, 220, 220);
$l7: rgb(210, 210, 210);
$l8: rgb(205, 205, 205);

$m1: rgb(200, 200, 200);
$m2: rgb(195, 195, 195);
$m3: rgb(190, 190, 190);
$m4: rgb(180, 180, 180);
$m5: rgb(170, 170, 170);
$m6: rgb(160, 160, 160);
$m7: rgb(150, 150, 150);
$m8: rgb(140, 140, 140);
$m9: rgb(120, 120, 120);
$m10: rgb(110, 110, 110);
$m11: rgb(100, 100, 100);
$m12: rgb(90, 90, 90);

$d1: rgb(80, 80, 80);
$d2: rgb(70, 70, 70);
$d3: rgb(60, 60, 60);
$d4: rgb(40, 40, 40);
$d5: rgb(30, 30, 30);
$d6: rgb(20, 20, 20);
$d7: rgb(10, 10, 10);

/*******************/
/***** !tints ******/
/*******************/

/******************************* !LIGHT *******************************/

/* light 1 */
$light-1-100: rgba($l1, 1);

/* light 2 */
$light-2-100: rgba($l2, 1);
$light-2-95: rgba($l2, 0.95);
$light-2-90: rgba($l2, 0.9);
$light-2-10: rgba($l2, 0.1);

/* light 3 */
$light-3-100: rgba($l3, 1);
$light-3-95: rgba($l3, 0.95);

/* light 4 */
$light-4-100: rgba($l4, 1);

/* light 5 */
$light-5-100: rgba($l5, 1);
$light-5-95: rgba($l5, 0.95);
$light-5-90: rgba($l5, 0.9);

/* light 6 */
$light-6-100: rgba($l6, 1);
$light-6-95: rgba($l6, 0.95);

/* light 7 */
$light-7-100: rgba($l7, 1);

/* light 8 */
$light-8-100: rgba($l8, 1);

/******************************* !MID *******************************/

/* mid 1 */
$mid-1-100: rgba($m1, 1);
$mid-1-95: rgba($m1, 0.95);
$mid-1-90: rgba($m1, 0.9);

/* mid 2 */
$mid-2-100: rgba($m2, 1);

/* mid 3 */
$mid-3-100: rgba($m3, 1);

/* mid 4 */
$mid-4-100: rgba($m4, 1);

/* mid 5 */
$mid-5-100: rgba($m5, 1);

/* mid 6 */
$mid-6-100: rgba($m6, 1);
$mid-6-95: rgba($m6, 0.95);

/* mid 7 */
$mid-7-100: rgba($m7, 1);

/* mid 8 */
$mid-8-100: rgba($m8, 1);

/* mid 9 */
$mid-9-100: rgba($m9, 1);

/* mid 10 */
$mid-10-100: rgba($m10, 1);

/* mid 11 */
$mid-11-100: rgba($m11, 1);

/* mid 12 */
$mid-12-100: rgba($m12, 1);

/******************************* !DARK *******************************/

/* dark 1 */
$dark-1-100: rgba($d1, 1);

/* dark 2 */
$dark-2-100: rgba($d2, 1);

/* dark 3 */
$dark-3-100: rgba($d3, 1);

/* dark 4 */
$dark-4-100: rgba($d4, 1);

/* dark 5 */
$dark-5-100: rgba($d5, 1);

/* dark 6 */
$dark-6-100: rgba($d6, 1);
$dark-6-90: rgba($d6, 0.9);

/* dark 7 */
$dark-7-100: rgba($d7, 1);
$dark-7-90: rgba($d7, 0.9);
$dark-7-80: rgba($d7, 0.8);
$dark-7-50: rgba($d7, 0.5);
$dark-7-20: rgba($d7, 0.2);

/*******************/
/***** !color ******/
/*******************/

/* defaults */
$copy-color: $mid-2-100;
$copy-hover: rgb(240,240,240);
$copy-active: rgb(14, 14, 15);

/* links */
$link-basic: rgb(236, 90, 98);
$link-hover: rgb(255, 255, 255);

/* accent */
$accent-primary: rgb(200, 87, 67);