@charset "UTF-8";
/* CSS Document */

/*************************************** SHAPES STYLE ***************************************/

@import "../system/typography";

/* !VISUALS
/* !LINE WORK

/******************************* !VISUALS *******************************/

/* inset size */
$inset-visual-height: 200px;
$inset-visual-width: 350px;

/******************************* !LINE WORK *******************************/

/* line weights */
$line-extra-thin: 0.25px;