@charset "UTF-8";
/* CSS Document */

/*************************************** aggregate-list STYLE ***************************************/

/* import from style module linked via docker */
@import "../../../../style/app/system/typography";

@import "../system/palettes.scss";

/* list/item */
.aggregate-list ul, li {
    
    margin: 0;
    padding: 0;
    
}

/* list item */
.aggregate-list li {
    
    align-items: baseline;
    display: flex;
    justify-content: space-between;
    list-style: none;
    margin-bottom: 1em;
    text-transform: capitalize;
    
}

/* color swatch */
.aggregate-list li span:first-of-type {
	
	display: inline-block;
	height: 0.75em;
    margin-right: 0.5em;
	width: 0.75em;
	
}

/* list text */
.aggregate-list li span:nth-child(2) {
    
    width: calc(100% - 3.75em);
    
}

/* percentage value */
.aggregate-list li span:last-of-type {
    
    font-weight: $sans-serif-bold;
    margin-left: 0.5em;
    text-align: right;
    width: 2em;
    
}




/* fill chart background */
.fill-chart rect:last-of-type {
	
	fill: transparent;
	stroke: currentColor;
	stroke-width: 0.5px;
	
}

/* foci wrap */
.foci {
	
	display: flex;
	
}

/* foci wrap div */
.foci > div {
	
	width: 100%;
	
}

/* component wrap */
.progress-card {
	
	height: 200px;
	
}

/* lead */
.progress-card > p:first-of-type:before {
	
	content: "Lead: ";
	
}

/* participant wrap */
.participation-list > div {
	
	display: flex;
	justify-content: space-around;
	
}

/* participant wrap children */
.participation-list > div > * {
	
	width: 100%;
	
}