@charset "UTF-8";
/* CSS Document */

/*************************************** personnel STYLE ***************************************/

/* import from style module linked via docker */
@import "../../../../style/app/system/typography";

/* component wrap */
.personnel {
	
	display: flex;
    margin-bottom: $copy-gutter;
	
}

/* each assignee column */
.personnel > div {
	
    margin-right: $copy-gutter-double;
    max-width: $copy-max-width;
    width: calc(100% - #{$copy-gutter-double});
	
}

/* last assignee column */
.personnel > div:last-of-type {
    
    margin-right: 0;
    
}